# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
ENV/
env/
.env
.venv/
.venv

# Configuration files
*.cfg
*.ini

# Logs
*.log

# SQLite database files
*.db

# IDE/editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook files
.ipynb_checkpoints/

# Test coverage
.coverage
htmlcov/

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg

# Miscellaneous
.DS_Store
Thumbs.db
